.exec-bio {
  &__image {
    width: 100%;
  }
  &__inner {
    background-color: $c-gray--lightest;
    position: relative;
    float: left;
    padding: 2rem;
  }
  &__line {
    height: 2px;
    background-color: $c-yellow;
    width: 150px;
    position: absolute;
    display: block;
    right: -3rem;
  }
  a.exec-bio__twitter {
    color: $c-yellow;
    transition: color $trans-opacity;
    &:hover {
      color: darken($c-yellow, 10);
    }
  }
  &__role {
    color: $c-yellow;
    display: flex;
    vertical-align: center;
  }
  @include breakpoint($bp--medium) {
    position: relative;
    padding: 3rem 0 0 4rem;
    &__image {
      max-width: 600px;
      width: 54vw;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
    &__inner {
      position: relative;
      max-width: 1000px;
      width: 80vw;
      float: left;
      padding: 2rem 2rem 4rem 2rem;
    }
    &__info {
      max-width: 400px;
      width: 27vw;
      float: right;
    }
    &__line {
      height: 2px;
      background-color: $c-yellow;
      width: 150px;
      position: absolute;
      display: block;
    }
    &__role {
      color: $c-yellow;
      display: flex;
      align-items: center;
    }
    &--odd {
      padding: 3rem 4rem 0 0;
      .exec-bio__image {
        right: 0;
        left: unset;
      }
      .exec-bio__inner {
        float: right;
      }
      .exec-bio__info {
        float: left;
      }
      .exec-bio__line {
        left: 33%;
      }
    }
  }
  @include breakpoint($bp--xlarge) {
    &__info {
      //width: 23vw;
    }
  }
  @include breakpoint($bp--xxlarge) {
    &__info {
      width: 400px;
    }
  }
}
